<!DOCTYPE html>
<html>
<head>
	<title>Order Page | Burger Farm</title>
	<link rel="icon" href="favicon.png" type="image/x-icon"/>
	<script src="https://use.fontawesome.com/ae85989865.js"></script>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Basic|Pragati+Narrow|Ubuntu+Condensed" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
{{{body}}}
</body>
</html>